<h3>Submit a New York Times story url</h3>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputUrl" class="col-sm-2 control-label">URL</label>
    <div class="col-sm-10">
      <input type="url" class="form-control" id="url" placeholder="URL" method="post" action="/result">
    </div>
  <div>
    <div class="form-group">
      <div class="col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="result_type" value="recent"> Recent
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="result_type" value="popular"> Popular
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

<h3>What is this?</h3>
<p>Tweet Rewrite uses the Twitter API to search for tweets that link to nytimes.com articles but don't use the headline of the story. You can see how people describe articles on Twitter. Don't have a URL? Try the <a href="http://www.nytimes.com/most-popular">Most Popular</a> page. Shortened URLs (http://nyti.ms) work, too.</p>

<p>Brought to you by <a href="https://github.com/nytimes/times_wire">TimesWire</a> and <a href="http://www.heroku.com/">Heroku</a>. Source on <a href="https://github.com/dwillis/times_dialect">Github</a>.</p>

</body>
</html>