<html>
<head>
  <title>Tweet Rewrite</title>
</head>
<body>
<h3>Submit a New York Times story url</h3>

<form class="form-search" method="post" action="/result">
<input name="url" class="input-xxlarge search-query">
<input type="checkbox" name="result_type" value="recent"> Recent or
<input type="checkbox" name="result_type" value="popular"> Popular 
  <div><button type="submit" class="btn">Submit</button></div>
</form>

<h3>What is this?</h3>
<p>Tweet Rewrite uses the Twitter API to search for tweets that link to nytimes.com articles but don't use the headline of the story. You can see how people describe articles on Twitter. Don't have a URL? Try the <a href="http://www.nytimes.com/most-popular">Most Popular</a> page. Shortened URLs (http://nyti.ms) work, too.</p>

<p>Brought to you by <a href="https://github.com/nytimes/times_wire">TimesWire</a> and <a href="http://www.heroku.com/">Heroku</a>. Source on <a href="https://github.com/dwillis/times_dialect">Github</a>.</p>

</body>
</html>